@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('../assets/css/styles.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62,5%;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
    
    height: 100dvh;
    border: 1px solid red;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.logo img {
    width: 150px;
    height: auto;
    border-radius: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.text span {
    padding: .2rem .4rem;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 500;
    color: #fff;
    background-color: red;
}
.text h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.infos {
    margin-top: 3.5rem;
    padding: 0 1rem;
}
.infos h2 {
    font-size: 1rem;
}
.infos p {
    font-size: .9rem;
    margin: .5rem 0;
    font-weight: 500;
}
.infos p > span {
    font-style: italic;
    font-weight: normal;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.icons img {
    width: 40px;
    height: auto;
    cursor: pointer;
}