@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --primary-color: #7A4A23;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62,5%;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
}

/* header styles start */
.header .container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f6f6f6;
}
.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .logo p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.header .logo i {
    font-size: 1.1rem;
    color: #F3753A;
}
.header .logo img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.header h3 {
    font-family: "Caveat", cursive;
    font-size: 2rem;
    font-weight: 600;
    color: #4f4f4f;
}
.header .carrinho i {
    font-size: 1.6rem;
    color: #ccc;
}
/* header styles end */

/* img-home-top styles start */
.img-top-home {
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    display: flex;
}
.img-top-home h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: -1px;
    color: #4f4f4f;
}
.img-top-home h2 strong {
    color: #F3753A;
}
.img-top-home .img-top {
    width: 7rem;
}
.img-top-home .img-top img {
    width: 7rem;
    margin-top: .5rem;
}
/* img-home-top styles end */

/* search-buttom-home styles start */
.search-button-home {
    margin-top: 7rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
}
.search-button-home .container {
    display: flex;
    align-items: center;
    padding: 0 .8rem;
    border-radius: 20px;
    background-color: #ebebeb;
}
.search-button-home input {
    width: 100%;
    height: 3.2rem;
    font-size: 1rem;
    font-weight: 500;
    background: none;
    color: #000;
}
.search-button-home input:focus{
    outline: none;
}
.search-button-home input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #4f4f4f;
}
.search-button-home i {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #4f4f4f;
}
/* search-buttom-home styles end */

/* categories styles start */
.categories {
    margin-bottom: 2rem;
}
.categories h1 {
    padding: 0 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.categories .categories-content {
    display: flex;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin-top: 4px;
    padding: 0 1rem;
}
.categories .categories-content .box {
    scroll-margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem .8rem;
    border-radius: 20px;
    white-space: nowrap;
    border: 1.5px solid var(--primary-color);
    background-color: #ebebeb;
}
.categories .categories-content .box .box-img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 25px;

}
.categories .categories-content .box .box-img img {
    width: 100%;
    height: 100%;
}
.categories .categories-content .box p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
}
.categories .categories-content .box.active {
    background-color: var(--primary-color);
    color: #fff;
}
.categories .categories-content .box.active p {
     color: #fff;
}
/* categories styles end */

.pesquisa-section {
    padding: 0 1rem;
}

/* products styles start */
.hidden {
    display: none;
}
.products .content-box {
    padding: 0 1rem;
    border-radius: 8px;
}
.products .product-container .content {
    position: relative;
    padding: .5rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #ebebeb;
}
.products .product-container .product-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
}
.products .product-container .product-img img {
    width: 100%;
    height: 100%;
}
.products .product-container .product-desc {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
   gap: 1rem;

}
.products .product-container .product-desc .product-name {
    text-align: center;
    font-weight: 600;
    color: #000;
}
.products .product-container .add-to-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .6rem .8rem;
    border-radius: 5px 0 5px 0;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

#icone-carrinho {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 1.rem; /* tamanho do ícone */
  color: #333;
}

#icone-carrinho .badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center; 
  user-select: none;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

/* Animação rápida quando atualiza (opcional) */
#icone-carrinho .badge.atualizado {
  animation: pulse 0.3s ease forwards;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
