@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('../assets/css/styles.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62,5%;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6f6;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.logo img {
    width: 150px;
    height: auto;
    border-radius: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.links h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}
.links p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}
.links a {
    width: 80%;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: .6rem .8rem;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
}