@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #7A4A23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.header i {
  font-size: 1.2rem;
  color: #000;
}

.header h1 {
  font-size: 1.2rem;
}


.products .content-box {
  margin-top: 2rem;
  padding: 0 1rem;
  border-radius: 8px;
  margin-bottom: 12rem;
}

.products .product-container .content {
  position: relative;
  padding: .5rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #ebebeb;
}

.products .product-container .product-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.products .product-container .product-img img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.products .product-container .product-desc {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.products .product-container .product-desc .product-name {
  text-align: left;
  font-weight: 600;
}
.products .product-container .product-desc .price {
  font-size: 0.9rem;
}

.quantity-control {
  bottom: 0;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.quantity-control button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

}
.quantity-control .quantity {
  min-width: 24px;
  text-align: center;
  font-weight: 00;
  user-select: none;
}


.checkout-inicial {
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f6f6f6;
}

.checkout-inicial .sub-total {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem; 
  border-bottom: 1.2px thick #000;
}

.checkout-inicial .sub-total p {
  font-weight: 700;
  font-size: 1.2rem;
}

.checkout-inicial .traco {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .8rem;
}

.checkout-inicial .button {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-inicial .button button {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  padding: .6rem 0;
  width: 100%;
  font-size: 1rem;
  color: #ffff;
  border-radius: 20px;
}







.checkout-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f6f6f6;
  z-index: 9999;
  display: none;
  overflow-y: auto;
  flex-direction: column;
}

.checkout-container .etapa {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
}

.checkout-container .etapa .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.checkout-container .etapa .heading i {
  font-size: 1.3rem;
  color: #000;
  background-color: #f6f6f6;
}
.checkout-container .etapa .heading h2 {
  font-size: 1.2rem;
}
.checkout-container .etapa .content {
  padding: 1rem;
}
.checkout-container .etapa .content input,
.checkout-container .etapa .content select {
  width: 100%;
}

.checkout-container .etapa.ativa {
  display: flex;
  /* ou block, conforme seu layout */
  flex-direction: column;
  
}

.checkout-container .etapa input, 
.checkout-container .etapa select {
  height: 3rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  color: #000;
}
.checkout-container .etapa input:focus,
.checkout-container .etapa select:focus {
  border: 1px solid #ccc;
  outline: none;
}

.checkout-container .etapa .btn-avancar,
.checkout-container .etapa .btn-finalizar {
  bottom: 5rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: .5rem 1rem;
  height: 3rem;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  background-color: var(--primary-color);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.troco-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
}
.troco-container .box-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.troco-container .box-select input {
  margin-top: 1rem;
}
#wrapper-troco-valor {
  display: none;

}
#wrapper-troco-valor input {

  margin-top: 1.2rem;
}


#campo-pix .pix-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#campo-pix .pix-box label {
  font-size: .9rem;
  font-weight: bold;
}

#campo-pix small {
  text-align: end;
  padding-right: 5px;
}

#campo-pix .pix-input {
  margin-top: 1.5rem;
  text-align: center;
  padding: 1rem;
}




.opcao-box {
  margin-bottom: 4rem;

}
.opcao-box h3 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.opcao-box input {
  width: 100%;
}

.endereco-loja {
  background: #f9f9f9;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.endereco-loja:hover {
  background: #eee;
}

.endereco-loja-2 {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 1rem .5rem;
}
.endereco-loja-2 span {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 6px;
}
.endereco-loja-2 span i {
  font-size: 1.2rem;
}
.endereco-loja-2 span p {
  margin-left: 8px;
}
.endereco-loja-2 p {
  margin-left: 1rem;
  margin-bottom: 3px;
  font-size: .9rem;
}