@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    color: #fff;
    background-color: #797979;
}
header h1 {
    font-size: 1.3rem;
    padding: 2rem;
}
header .orders-search-date {  
    padding: .8rem;
    width: 100%;
}

header .orders-search-date .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .orders-search-date input {
    border: 1px solid #adadad;
    padding: 4px;
    color: #000;
    border-radius: 5px;
}
header .orders-search-date button {
    color: #000;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

.orders-section {
    margin: 0 auto;
    padding: 1rem;
    padding-top: 12rem;
}
.pedido-card {
    background: #ccc;
    padding: 1rem;
    margin-bottom: 2rem;
}
.pedido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.pedido-header h3 {
  margin: 0;
}
.btn-imprimir {
    background-color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.pedido-info {
    margin-top: 1rem;
}
.pedido-info p {
  margin-top: .5rem;
}
.pedido-endereco {
    display: flex;
    flex-direction: column;
}
.pedido-endereco span,
.pedido-ponto span {
    margin-left: 8px;
}
.pedido-produtos {
    margin-top: .5rem;
}
.pedido-produtos ul {
    list-style: none;
    margin-left: 8px;
}
.lista-produtos li {
  margin-bottom: 4px;
}
.valor-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.whatsapp-button {
    margin-top: 1rem;
    width: 100%;
    padding: 10px;
    background-color: #25D366;
    color: #000;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}