@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    color: #fff;
    background-color: #495057;
}
header h1 {
    font-size: 1.5rem;
}

.no-orders-message {
    text-align: center;
}

.orders-section {
    margin: 0 auto;
    padding: 1rem;
}

.orders-section .orders-search-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6e6;
    margin-bottom: 1rem;
    padding: 1rem;
}

.orders-section .orders-search-date .search {
    display: flex;
    margin-top: 1rem;
}

.orders-section .orders-search-date input {
    background: transparent;
    border: 1px solid #adadad;
    padding: 0 5px;
    margin-right: 10px;
}
.orders-section .orders-search-date button {
    padding: 7px 10px;
    margin-right: 10px;
    border: 1px solid #adadad;
    border-radius: 5px;
}

.orders-section .orders-container {
    border: 1px solid red;
    background-color: #e6e6e6;
    padding: 1rem 0.5rem 2rem 1rem;
    height: 70vh;
    overflow: auto;
}

.pedido-card {
  border: 1px solid red;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.pedido-header {
        border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.pedido-header h3 {
  margin: 0;
}

.btn-imprimir {
    background-color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.pedido-info p {
  margin: 4px 0;
}

.valor-total {
  font-weight: bold;
  color: #28a745;
}

.lista-produtos {
  padding-left: 20px;
  margin-top: 5px;
}

.lista-produtos li {
  margin-bottom: 4px;
}


/* STYLES PARA NOTIFICAÇÃO */
#notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #323232;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease, bottom 0.5s ease;
}
#notification.show {
    opacity: 1;
    bottom: 40px;
}
#notification.hidden {
    opacity: 0;
}


/* STYLES PARA PÁGINA DE LOGIN */
.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.login-section .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
    width: 30rem;
}
.login-section .login-container .title {

    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
.login-section .login-container .form {

    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-section .login-container .form input {
    border: 1px solid #adadad;
    width: 100%;
    margin-bottom: .5rem;
    height: 2rem;
    padding: 0 5px;
}
.login-section .login-container .form button {
    padding: 7px 10px;
    margin-right: 10px;
    border: 1px solid #adadad;
}

/* STYLES PARA SCROLL */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #e6e6e6;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}